p {
    color: white;
    font-size: 6vw;
    font-family: "Rubik", sans-serif;
    margin: 5rem;
    text-transform: uppercase;
    text-justify: auto;
    text-align: center;
}

.subheader {
    font-size: 4vw;
    font-style: italic;
    margin: 3rem;
}

.subtext {
    font-size: 3vw;
    margin: 3rem;
    text-transform:none;
}

body {
    background-color: #0f0f0f;
}

#text:has(.fancy:hover) .fancy:not(.fancy:hover) {
    color: rgba(255, 255, 255, .05);
}

@keyframes float {
    0% {
        transform: translateY(-3px)
    }

    50% {
        transform: translateY(3px)
    }

    100% {
        transform: translateY(-3px)
    }
}

@keyframes sway {
    0% {
        transform: rotate(-3deg)
    }

    50% {
        transform: rotate(3deg)
    }

    100% {
        transform: rotate(-3deg)
    }
}

@keyframes colorwave {
    0% {
        color: #3b52c4
    }

    50% {
        color: #34eb9e
    }

    100% {
        color: #3b52c4
    }
}

.fancy>.letter>.text {
    display: inline-block;
    transition: 600ms ease-out;
}

.fancy>.letter {
    display: inline-block;
}

.fancy:hover>.letter {
    animation: float 2s ease-in-out 100ms infinite, colorwave 4s ease-in-out 100ms infinite;
}

.fancy:hover>.letter>.text {
    animation: sway 4s ease-in-out 0ms infinite;
}

.line {
    justify-content: space-around;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
} 

.row {
    justify-content: space-around;
} 